openapi: 3.0.3
info:
  title: Librty Development Kit
  description: >-
    This document is based on the OpenAPI 3.0 specification.

    The api endpoints described in this document needs an API key. Contact us to get your api key
  termsOfService: none
  contact:
    email: nitin@librty.xyz
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
externalDocs:
  description: none
  url: none
servers:
  - url: https://ldk.librty.xyz
  - url: https://ldk.staging.librty.xyz
tags:
  - name: wallet
    description: Access from Game Client
    externalDocs:
      description: none
      url: none
paths:
  /wallet/getAccessToken:
    post:
      tags:
        - wallet
      summary: Login to the librty backend and get access token
      description: Verify access to wallet and get a JWT token
      requestBody:
        description: Signed message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signature'
        required: true
      responses:
        '200':
          description: Successfull Login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []
  /wallet/refreshAccessToken:
    get:
      tags:
        - wallet
      summary: refresh your access token
      description: If your access token is expired you can refresh it using this api
      responses:
        '200':
          description: Successfully Refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []
          bearerAuth: []
  /wallet/tokenGrant:
    post:
      tags:
        - wallet
      summary: grant tokens to a verified user
      description: Grants tokens to a user
      requestBody:
        description: address
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGrant'
        required: true
      responses:
        '200':
          description: Grant Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenGrantResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []
          bearerAuth: []
  /wallet/tokenDeduct:
    post:
      tags:
        - wallet
      summary: get tokens deduct transaction for a user
      description: get tokens transfer transaction
      requestBody:
        description: address
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenDeduct'
        required: true
      responses:
        '200':
          description: Deduct Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDeductResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []
          bearerAuth: []
  /wallet/tokenGrantStatus:
    post:
      tags:
        - wallet
      summary: status of grant tokens
      description: get status of the granted tokens to an address
      requestBody:
        description: transaction id
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGrantStatus'
        required: true
      responses:
        '200':
          description: Successfully granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenGrantStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []
          bearerAuth: []
components:
  schemas:
    TokenGrant:
      type: object
      properties:
        address:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        tokens:
          type: string
          example: '1000'
    TokenDeduct:
      type: object
      properties:
        address:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        amount:
          type: string
          example: '1000'
    TokenGrantStatus:
      type: object
      properties:
        address:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        txnId:
          type: string
          example: 'asdasFECdcmsnf'
    Signature:
      type: object
      properties:
        signer:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        message:
          type: string
          example: verify me
        signature:
          type: string
          example: 0xSHJGRSKNGJRKHJKNJDSKNFJSKNGFDFSD
    Jwt:
      type: object
      properties:
        address:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        accessToken:
          type: string
          example: FDJSKLF.FDKSLFS.FDSFSF
        refreshToken:
          type: string
          example: FDJSKLF.FDKSLFS.FDSFSF
    TokenGrantResponse:
      type: object
      properties:
        address:
          type: string
          example: 0xQWERTYUIOPASDFGHJKLZXCVBNM123456
        txnId:
          type: string
          example: 'asdasFECdcmsnf'
    TokenDeductResponse:
      type: object
      properties:
        type:
          type: string
          example: 0x0
        nonce:
          type: string
          example: 0xb
        gasPrice:
          type: string
          example: 0x763948fb
        maxPriorityFeePerGas:
          type: string
          example: 0x763948fb
        maxFeePerGas:
          type: string
          example: 0x763948fb
        gas:
          type: string
          example: 0x5444
        value:
          type: string
          example: 0x0
        input:
          type: string
          example: 0xa9059cbb00000000000000000000000052b50644a9fef330ffc7a93d92a4b7591d5a3903000000000000000000000000000000000000000000000000000000000000000a
        v:
          type: string
          example: 0x0
        r:
          type: string
          example: 0x0
        s:
          type: string
          example: 0x0
        to:
          type: string
          example: 0x8b0bca2bb41b126a2bd43453cc0c25a4b8f7cc31
        hash:
          type: string
          example: 0x8230b1e3e701e677666b9b4a6f4a66793f99a2a4f7c9a3a593dcb7a019d2a52a
    TokenGrantStatusResponse:
      type: object
      properties:
        txnId:
          type: string
          example: 'asdasFECdcmsnf'
        status:
          type: string
          example: 'processing'
    Error:
      type: object
      properties:
        code:
          type: string
          example: error
        message:
          type: string
          example: some error occured
      required:
        - code
        - message
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
